doctype 5
html
    head
        title= title
        link(rel = 'stylesheet', href = 'bootstrap.min.css')

    body
        div.container
            block content
            h1 Esto deberia distinguirse en git
            h2 otra vez 
