doctype 5
html
    head
        title= title
        link(rel = 'stylesheet', href = 'bootstrap.min.css')

    body
        div.container
            block content
            h1 Esto deberia distinguirse en git
            h2 otra vez 
            h3 Modificado :D
            span holitas
            span un nuevo cambio OMG
            h1 commit 20.3
            h2 commit 20.4
            h3 modificacion en dev.1
            h3 modificacion en dev.2